.perant_tppt {
    display: flex;
    flex-direction:  row;
    flex-wrap: wrap;

}
  
.tppt {
    border: 1px solid red;
    display: inline-block;
    font-size: 20px;
    
  }

  
  .tppt2 {
    border: 1px solid red;

  }

 

  @media screen and (min-width: 300px) {
   .tppt2{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    background-color: #999;
    z-index: 10; 
    position: fixed;
    height: auto;
    
   }
  }