.perant_tppt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.tppt {
    border: 1px solid red;
    font-size: 20px;    

}
  .tppt2 {
    border: 1px solid red;
}

.tppt3{
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 30px;
  align-self: flex-start; /* <-- this is the fix */
}



  @media screen and (min-width: 300px) {
   .tppt2{
  
    font-size: 20px;
    padding: 20px;
    background-color: #999;
    height: auto;
   }
  }